ion-view(view-title="Login", name="login-view")
    ion-content.padding
        div.list.list-inset
            h2#appoint-made Your appointmet has been made!
            button.button.button-full.button-calm(ng-click="goToSkills()") Skills
