ion-view(view-title="Login", name="login-view")
    ion-content.padding
        div.spacer
        div.row.row-center
            ion-spinner(icon='lines',style='display:block; margin:auto; padding-top: 40%;')
